body {
    display: grid;
    grid-template-areas: 
    "cab cab cab"
    "lad pri pri"
    "rod rod rod";
    grid-template-columns: 20% auto  auto;
    grid-template-rows: auto 1000px auto;
    gap: 15px;
    }
    
    .cab {
      background-color: blue;
      grid-area: cab;
      height: 200px;
    }
    
    .pri {
      background-color: rgb(255, 238, 48);
      grid-area: pri;
      height: auto;
    }
    
    .lad {
    background-color: chartreuse;
    grid-area: lad;
    height: auto;
    }
    
    .rod {
      background-color: coral;
      grid-area: rod;
      height: 200px;
    }